{% extends 'AlbaBundle::adminpanel.html.twig' %}

{% block body %}
    <h1>Seizoen creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input  class="button success" style="float: right" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="success button" href="{{ path('seizoen_index') }}">Back to the list</a>

{% endblock %}
