{% trans_default_domain 'FOSUserBundle' %}
<div class="main">
    <h2 class="sub-header">Profile</h2>
    <div class="table-responsive">
        <table class="table table-hover profile-table">
            <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tbody>
        </table>
    </div>
    <a href="{{ path('fos_user_change_password') }}" class="btn btn-edit pull-left">Change Password</a>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-edit pull-right">Edit Profile</a>
    <div class="clearfix"></div>
</div>