{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Gast creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="success button" style="float: right" type="submit" value="Create"/>
    {{ form_end(form) }}


    <a class="bsuccess button" href="{{ path('guest_index') }}">Back to the list</a>

{% endblock %}
