{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Gast creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="button"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('guest_index') }}" class="button">Back to the list</a>
        </li>
    </ul>
{% endblock %}
