{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Extra edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button warning" style="float: right" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <a class="button secondary" style="float: left" href="{{ path('extra_index') }}">Back to the list</a>
{% endblock %}
