{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Extra creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button success" style="float: right" type="submit" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('extra_index') }}" class="button secondary" style="float: left">Back to the list</a>
{% endblock %}
