#colorp {
    background-color: purple;
}
#colorw {
    color: white;
}
.lichten:hover {
    background-color: #4779c7;
}
ul li a {
    color: white;
}
li a:hover {
    color: purple;
}
#home {
    background-image: url("../img/Alba B&B header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
    height: 530px;
}
#book {
    background-color: purple;
}
#realEstateMenu {
    background-color: #0d47a1;
    margin-bottom: -25px;
}
.top-bar ul {
    background-color: #0d47a1;
}
#footer {
    background-color: #0d47a1;
}
footer {
    background-color: #0e3b81;
}
p {
    color: white;
}
i {
    color: purple;
}

.button {
    background-color: #a567a5;
}
.letters {
    color: black;
}
.fa {
    font-size: 30px!important;
}

#offCanvasLeft {
	background-color: #b300b3;
}
.callout.success {
	background-color: #0d47a1 !important;
}
.callout.warning {
	background-color: purple !important;
}
.sight {
    height: 100%;
}

#offCanvasLeft {
	background-color: #b300b3;
}
.callout.success {
	background-color: #0d47a1 !important;
}
.callout.warning {
	background-color: purple !important;
}
.sight {
    height: 100%;
}
#map {
    height: 200px;
    width: 100%;
}

#sight {
    height: 400px;
    width: 100%;
}
#linnfalls {
    min-height: 370px;
}
#aberlour {
    min-height: 380px;
}
#knockando {
    min-height: 325px;
}
#macallan {
    min-height: 370px;
}
#logo {
    width: 80px;
}
#opa {
    background: rgba(51, 51, 51, 0.8);
}
#opaw {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
}
#TARTAN {
    background-image: url("../img/single.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    min-height: 290px;
}
#WHISKY {
    background-image: url("../img/double.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    min-height: 290px;
}
#THISTLE {
    background-image: url("../img/luxe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    min-height: 290px;
}
#ALBAR {
    background-image: url("../img/wisky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
    min-height: 290px;
}
.infok {
    min-height: 300px;
    background-color: purple;
}
.container {
    margin-top: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(51, 51, 51, 0.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.overlayl {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.container1:hover .overlayl {
    width: 100%;
}
.container:hover .overlay {
    width: 100%;
    left: 0;
}
.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.lobo {
    padding-top: 15px;
}
#barr {
    background-image: url("../img/scotchbarrels.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    background-color: white;
    margin: 0;
    padding: 15px;
}

/*Contact fix base.html.twig*/
.contact {
    position: relative;
}

.contact li i {
    padding: 5px;
    color: #ffffff;
    left: -15px;
    position: absolute;
}
#own p {
    text-align: center;
    padding-top: 15px;
}
#own img {
    border-radius:125px;
    display: block;
    text-align: center;
}
.backfun {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    background-image: url("../img/adground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}
#icons {
    width: 40px;
    color: white;
}
.flikker {
    position: relative;
}
.kleurverlicht {
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
}

.flikker:hover .kleurverlicht {
    opacity: 1;
}

#example-menu{
    background-color: #0d47a1;
}

#alba{
    padding-left:45px;
}

#icons {
    padding-left:50px;
}

@media screen and (max-width: 766px) {
    #responsive {
        width:50%;
    }
}

@media screen and (max-width: 766px) {
    #imgresponsive img {
        display: none;
    }
}

@media screen and (max-width: 766px) {
    #footerresponsive {
        padding-top:20px;
    }
}

