ul li a {
	color: white;
}
.title-bar {
	background-color: #0e4a71;
}
#offCanvasLeft {
	background-color: #b300b3;
}
.callout.success {
	background-color: #0d47a1 !important;
}
.callout.warning {
	background-color: #ffffff !important;
}

.sight {
	height: 100%;
}