{% extends '@Alba/base.html.twig' %}
{% block body %}
    {% set reserveren = app.session.get('reserveren') %}

        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title disabled"><a>Choose your date</a></li>
            <li class="tabs-title disabled"><a>Choose Room</a></li>
            <li class="tabs-title is-active"><a href="#panel3" aria-selected="true">Customer</a></li>
            <li class="tabs-title disabled"><a>Guest</a></li>
            <li class="tabs-title disabled"><a>Extra</a></li>
            <li class="tabs-title disabled"><a>Confirm</a></li>
            <li class="tabs-title disabled"><a>Payment</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel" id="panel3">
                <form action="{{ path('bookStepThree') }}" method="post">
                    <div class="row">

                    <div class="large-4 columns">
                        <h3>Reservation info</h3>
                        <hr>
                        <p>Check in: </p>
                        <p>Check out: </p>
                        <p>Guest: </p>

                        <h3>Room info</h3>
                        <hr>
                        <p>Deluxe One-bedroom Suite</p>
                        <hr>
                        <p>Total Cost: </p>
                    </div>

                    <div class="large-4 columns">
                        <h3>Reservation info</h3>
                        <form>
                            <div class="row">
                                <div class="columns">
                                    <label>Name
                                        <input type="text" id="Firstname" name="Firstname" placeholder="Firstname">
                                    </label>
                                    <label>Insertion
                                        <input type="text" id="Insertion" name="Insertion" placeholder="Insertion">
                                    </label>
                                    <label>Last name
                                        <input type="text" id="Lastname" name="Lastname" placeholder="Lastname">
                                    </label>
                                    <label>Date of Birth
                                        <input type="text" id="Birthdate" name="Birthdate" placeholder="Birth date">
                                    </label>
                                    <select id="Gender" name="Gender">
                                        <option value=""></option>
                                        <option value="Man">Male</option>
                                        <option value="Woman">Female</option>
                                    </select>
                                    <label>Email
                                        <input type="email" id="Email" name="Email" placeholder="Email">
                                    </label>
                                    <label>Phone
                                        <input type="number" id="Tel" name="Tel" placeholder="Phonenumber">
                                    </label>
                                    <label>City
                                        <input type="text" id="City" name="City" placeholder="City">
                                    </label>
                                    <select id="Language" name="Language">
                                        <option value="">Language</option>
                                        <option value="English">English</option>
                                        <option value="Dutch">Dutch</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="large-4 columns">
                        <h3>Request</h3>
                        <label>
                            Special request
                            <textarea placeholder="None"></textarea>
                        </label>
                        <a class="button expanded" href="#">Submit</a>
                    </div>

                </div>
                </form>
            </div>
        </div>


    <!--form action="{{ path('bookStepThree') }}" method="post">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="insertion">Insertion</label>
        <input type="text" id="insertion" name="insertion">

        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="birthday">Birthday</label>
        <input type="date" id="birthday" name="birthday" required>

        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
        </select>

        <label for="city">City</label>
        <input type="text" id="city" name="city" required>

        <label for="language">Language</label>
        <select id="language" name="language" required>
            <option value="English">English</option>
            <option value="Dutch">Dutch</option>
        </select>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="tel">Phone</label>
        <input type="tel" id="tel" name="tel" required>

        <input type="submit">
    </form-->
{% endblock %}