{% extends '@Alba/base.html.twig' %}
{% block body %}
    {% set reserveren = app.session.get('reserveren') %}
    <div xmlns="http://www.w3.org/1999/html">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Choose your date</a></li>
            <li class="tabs-title disabled"><a href="#panel2">Choose Room</a></li>
            <li class="tabs-title disabled"><a href="#panel3">Customer</a></li>
            <li class="tabs-title disabled"><a href="#panel4">Guest</a></li>
            <li class="tabs-title disabled"><a href="#panel5">Extra</a></li>
            <li class="tabs-title disabled"><a href="#panel6">Confirm</a></li>
            <li class="tabs-title disabled"><a href="#panel7">Payment</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <div class="row">

                    <div class="large-8 column">
                        <form action="{{ path('bookStepOne') }}" method="post">
                            <div class="row">
                                <div class="medium-6 columns">
                                    <label>Check-in
                                        <input type="date" id="arrival" name="arrival">
                                    </label>
                                </div>
                                <div class="medium-6 columns">
                                    <label>Checkout
                                        <input type="date" id="departure" name="departure">
                                    </label>
                                </div>
                            </div>
                    </div>

                    <div class="large-4 column">

                            <div class="row">
                                <div class="columns">
                                    <label>Persons:
                                    <select name="traveling-companions" id="traveling-companions">
                                        <script>
                                            for ($i = 0; $i < {{ amountTravel }}; $i++){
                                                document.write("<option value='" + $i + "'>"+ $i +"</option>");
                                            }
                                        </script>
                                    </select></label>
                                    <input type="submit" class="button expanded next" value="next">Check Availability</input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tabs-panel" id="panel2">

            </div>

            <div class="tabs-panel" id="panel3">
                <div class="row">

                    <div class="large-4 columns">
                        <h3>Reservation info</h3>
                        <hr>
                        <p>Check in: </p>
                        <p>Check out: </p>
                        <p>Adult: </p>
                        <p>Child: </p>
                        <h3>Room info</h3>
                        <hr>
                        <p>Deluxe One-bedroom Suite</p>
                        <hr>
                        <p>Total Cost: </p>
                    </div>

                    <div class="large-4 columns">
                        <h3>Reservation info</h3>
                        <form>
                            <div class="row">
                                <div class="columns">
                                    <label>Name
                                        <input type="text" id="Firstname" name="Firstname" placeholder="Firstname">
                                    </label>
                                    <label>Insertion
                                        <input type="text" id="Insertion" name="Insertion" placeholder="Insertion">
                                    </label>
                                    <label>Last name
                                        <input type="text" id="Lastname" name="Lastname" placeholder="Lastname">
                                    </label>
                                    <label>Date of Birth
                                        <input type="text" id="Birthdate" name="Birthdate" placeholder="Birth date">
                                    </label>
                                    <select id="Gender" name="Gender">
                                        <option value=""></option>
                                        <option value="Man">Male</option>
                                        <option value="Woman">Female</option>
                                    </select>
                                    <label>Email
                                        <input type="email" id="Email" name="Email" placeholder="Email">
                                    </label>
                                    <label>Phone
                                        <input type="number" id="Tel" name="Tel" placeholder="Phonenumber">
                                    </label>
                                    <label>City
                                        <input type="text" id="City" name="City" placeholder="City">
                                    </label>
                                    <select id="Language" name="Language">
                                        <option value="">Language</option>
                                        <option value="English">English</option>
                                        <option value="Dutch">Dutch</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="large-4 columns">
                        <h3>Request</h3>
                        <label>
                            Special request
                            <textarea placeholder="None"></textarea>
                        </label>
                        <a class="button expanded" href="#">Submit</a>
                    </div>

                </div>
            </div>

            <div class="tabs-panel" id="panel4">
                <div class="row">
                    <div class="large-4 columns">
                        <h3>Reservation info</h3>
                        <hr>
                        <p>Check in: </p>
                        <p>Check out: </p>
                        <p>Adult: </p>
                        <p>Child: </p>
                        <h3>Room info</h3>
                        <hr>
                        <p>Deluxe One-bedroom Suite</p>
                        <hr>
                        <p>Total Cost: </p>
                    </div>

                    <div class="large-4 columns">
                        <h3>Reservationinfo</h3>
                        <hr>
                        <p>Name: </p>
                        <p>Lastname: </p>
                        <p>Email: </p>
                        <p>Phone: </p>
                        <p>City: </p>
                        <p>Address: </p>
                    </div>

                    <div class="large-4 columns">
                        <h3>Special Request</h3>
                        <hr>
                        <p>Request: </p>
                    </div>
                </div>

            </div>

            <div class="tabs-panel" id="panel5">
                <div class="row">

                </div>
            </div>

            <div class="tabs-panel" id="panel6">
                <div class="row">

                </div>
            </div>

            <div class="tabs-panel" id="panel7">
                <div class="row">

                </div>
            </div>

        </div>
    </div>

    <!--form action="{{ path('bookStepOne') }}" method="post">
        <fieldset>
            <h2 class="fs-title">Arrival and Departure</h2>
            <h3 class="fs-subtitle">Choose here your arrival & departure</h3>

            <label for="arrival">Arrival date</label>
            <input type="date" class="form-control" id="arrival" name="arrival" placeholder="Arrival" required>

            <label for="departure">Departure date</label>
            <input type="date" class="form-control" id="departure" name="departure" placeholder="Departure" required>

            <label for="traveling-companions">Your Traveling companions</label>
            <select name="traveling-companions" id="traveling-companions">
                <script>
                    for ($i = 0; $i < {{ amountTravel }}; $i++){
                        document.write("<option value='" + $i + "'>"+ $i +"</option>");
                    }
                </script>
            </select>
            <input type="submit" value="next" class="next" />
        </fieldset>
    </form-->
{% endblock %}