{% extends '@Alba/base.html.twig' %}
{% block body %}
    {% set reserveren = app.session.get('reserveren') %}

        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Choose your date</a></li>
            <li class="tabs-title disabled"><a>Choose Room</a></li>
            <li class="tabs-title disabled"><a>Customer</a></li>
            <li class="tabs-title disabled"><a>Guest</a></li>
            <li class="tabs-title disabled"><a>Extra</a></li>
            <li class="tabs-title disabled"><a>Confirm</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <form action="{{ path('bookStepOne') }}" method="post">

                    <div class="row">
                        <div class="large-8 column">
                            <div class="row">
                                <div class="medium-6 columns">
                                    <label for="arrival">Check-in</label>
                                    <input type="date" id="arrival" name="arrival"/>
                                </div>

                                <div class="medium-6 columns">
                                    <label for="departure">Checkout</label>
                                    <input type="date" id="departure" name="departure"/>
                                </div>
                            </div>
                        </div>

                        <div class="large-4 column">
                            <div class="row">
                                <div class="columns">
                                    <label for="traveling-companions">Your Traveling companions</label>
                                    <select name="traveling-companions" id="traveling-companions">
                                        <script>
                                            for ($i = 0; $i < {{ amountTravel }}; $i++){
                                                document.write("<option value='" + $i + "'>"+ $i +"</option>");
                                            }
                                        </script>
                                    </select>
                                    <input type="submit" class="button expanded next" value="Check Availability"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}