{% extends '@Alba/base.html.twig' %}
{% block body %}
    <div id="background">
        <div class="row medium-8 columns">
            <div class="callout warning">
                <div id="owner">
                    <img src="{{ asset('bundles/alba/img/owner.jpg') }}">
                    <p>The Owners</p>
                </div>
                    <h3 style="color:white; text-align: center;"> About Us</h3>
                    <p>Welcome to our website which is to become our Bed & Breakfast booking site.<br>
                    For quite some years we have been visiting Scotland and in 2014 we decided to move to Scotland and start our own Bed & Breakfast.<br>
                    We’ve made plans already, but because of our mortgage we have to stay a few more years in the Netherlands.
                    The date is set to the first of september 2020!<br>
                    On this website, we will keep you updated with our progress, difficulties and plans we come up with.
                    Thank you for being a part in our adventure!<br><p>
                    <p style=" text-align:center";>Anne Jan & Siebette</p>
            </div>
        </div>
    </div>
{% endblock %}
