{% extends "@Alba/base.html.twig" %}
{% block body %}
    <br>
    <div class="row medium-8 large-6 columns">
        <div class="blog-post callout success">
            <p>Get in Contact with us</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <br>
{% endblock %}
