{% extends "@Alba/base.html.twig" %}
{% block body %}
    <br>
    <div class="row medium-8 large-7 columns">
        <div class="blog-post callout success">
            <p>Neem contact met ons op</p>
            <ul>
            <li><i class="fa fa-phone"></i> +447398045168</li>
            <li><i class="fa fa-envelope"></i> booking@alba-bb.co.uk</li>
            <li><i class="fa fa-map-marker"></i> Aberlour AB38 9PJ, United Kingdom</li>
            </ul>
        </div>
    </div>
    <br>
{% endblock %}
