{% extends '@Alba/base.html.twig' %}
{% block body %}
<div class="row backfun">
    <div class="row column text-center">
        <h2>Disclaimer</h2>
    </div>

    <div class="callout success">
        <div class="row">
            <div class="medium-12 column">
                <p>The contents of this website are for general information purposes only -
                    and are not intended to be relied on by any user for any purpose.
                    Alba B&B accept no responsibility for any loss of any kind which may
                    arise from the use of information contained in this site or from accessing this site.<p>

                <p>This website may contain links to Web pages not authored and/or owned by Alba B&B.
                    We make no guarantee or promises about the information on those websites and cannot
                    accept responsibility for the actions or inaction of their operators. </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
