{% extends '@Alba/base.html.twig' %}

{% block body %}
    <!--head title-->
    <div class="row column text-center">
        <h2>Contact</h2>
        <hr>
    </div>

    <!--Contact-->
    <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
        <div class="medium-4 columns">
            <div class="callout lichten" data-equalizer-watch>

            </div>
        </div>
        <div class="medium-4 columns">
            <div class="callout lichten" data-equalizer-watch>

            </div>
        </div>
        <div class="medium-4 columns">
            <div class="callout lichten" data-equalizer-watch>

            </div>
        </div>
    </div>

    <div class="row">
        <!--objecten-->
        <div class="large-4 column">
            <h3><b>How</b> to contact us</h3>
            <br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
        </div>
        <!--Contact-Fom-->
        <div class="large-8 column">
            <div class="form-area">
                <form action="{{ path ('mail') }}" method="post" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="Email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="ubject" name="Subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                    </div>

                    <input  class="button expanded" type="submit" value="Send"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



